
.search-modal .modalcon_wrap{width: 1024px;border: 0;}
.search-modal .modalcon_wrap header{background-color: #00256C;border-top-left-radius: 20px;border-top-right-radius: 20px;padding: 30px;justify-content: space-between;}
.search-modal .modalcon_wrap header p{color: white;font-size: 1.5rem;}
.search-modal .modalcon_wrap header button{filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(298deg) brightness(102%) contrast(101%);}
.search-modal .modalcon_wrap body{margin-top: 40px;max-height: 400px;overflow-y: auto;}

.search-modal .basic_table .table-tit{border-top: solid 1px #0B2468;background-color: #F8F9FC;font-weight: 500;}
.search-modal .basic_table>div{display: flex;justify-content: space-between;}
.search-modal .basic_table>div .info_wrap{width: 800px;}
.search-modal .basic_table>div .info_wrap ul li{width: 20%;}
.search-modal .basic_table>div .info_wrap ul li:first-child{width: 25%;}
.search-modal .basic_table>div .info_wrap ul li:last-child{width: 35%;}
.search-modal .basic_table>div .info_wrap ul{display: flex;border-bottom: solid 1px #ebebeb;height: 56px;align-items: center;padding: 0 30px;}
.search-modal .basic_table>div .pakingbox{display: flex;align-items: center;justify-content: center;width: 160px;background-color: #F8F9FC;border-bottom: solid 1px #ebebeb;}
.search-modal .basic_table>div .pakingbox span{border-radius: 3rem;height: 35px;width: 110px;text-align: center;line-height: 2rem;}