.serviceModal{
    border: 1px solid gray;
    text-align: center;
    padding: 0;
    margin: 4%;
    width: 700px;
    position: fixed;
    top: 40%;
    left: 47%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: #ffffff;
}
.serviceModal header button{
    background-color: transparent;
    border: none;
    color: white;
}
.serviceModal header{
    background-color: rgb(14, 113, 199);
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    padding: 7px;
    color: white;
}
.serviceModal main{
    color: #7f7f7f;
    padding: 2%;
}
.serviceModal .main-post{
    border-top: 1px solid #d9d9d9;
    padding: 14% 10%;
}
.serviceModal .main-header{
    margin-bottom: 10px;
    display: flow-root;
}
.serviceModal footer{
    padding: 5px 10px;
}
.serviceModal footer section{
    display: flex;
    padding-left: 8px;
    gap: 2px;
    font-size: 13px;
    color: #7f7f7f;
}
.serviceModal footer button{
    background-color: white;
    color: #8b8b8b;
    border: 1px solid #afabab;
    padding: 3px 20px;
    font-size: 12px;
    border-radius: 5px;
}