#main_wrap{position: relative;width: 100%;}

.main_bg{ display: flex;justify-content: left;align-items: normal;height: 640px;background-image: url('../../img/main_bg.jpg');background-size: cover;
    background-position: center;}
.main_title{position: relative;width: 100%;max-width: 1280px;margin: 0 auto;top: 9.5rem;display: block;color: white;font-size: 1.5rem;line-height: 1.2;}
.main_title h2{font-size: 3.25rem;font-weight: 300;padding-bottom: 30px;}
.main_title h2 span{display: block;font-weight: 700;}


#main-container{position:relative;height: 100%;width: 100%;max-width: 1280px;margin: 0 auto;transform: translateY(-50%);}
.main-article{position: relative;}
.main_conwrap{display: flex;gap: 4%;position: relative;}

.main-article button{width: 300px;height: 283px;border-radius: 20px;color: white;font-size: 22px;cursor: pointer;}
.main-article .apply-btn{background: #002F87;}
.main-article .search-btn{background: #188AD6;}

.main-article .main-notice{position: relative;width: 38%;height: auto;background-color: #EAF3FA;border-radius: 20px;padding: 36px 32px;min-width: 500px;}
.main-notice header{display: flex;justify-content: space-between;padding-bottom: 4px;}
.main-notice header h3{color: #131313;font-size: 1.625rem;font-weight: 500;}
.main-notice header button{width: 32px;height: 32px;color: #131313;background-color: white;border-radius: 50%;font-size: 1rem;}
.main-notice header button>img{width: 10px;height: auto;margin: 3px 0 0 3px;}
.main-notice ul li{position: relative;border-bottom: 1px solid #dadada;color: #131313;font-size:1.125rem;color: #131313;padding:12px 0;}
.main-notice ul li:last-child{border-bottom: none;}
.main-notice_link{display: flex;justify-content: space-between;}
.main-notice_link::before{content: '';width: 4px;height: 4px;background-color: #188AD6;border-radius: 50%;position: absolute;top: 50%;}
.main-notice_link:hover p:first-child{color: #188AD6;}
.main-notice ul li p:first-child{margin-left: 16px;}
.main-notice ul li p:last-child {color: #777;font-size: 1rem;}