#main_wrap{position: relative;width: 100%;}

.main_bg{ display: flex;justify-content: left;align-items: normal;min-height: 640px;height: 50vh; background-image: url('../../img/main_bg.jpg');background-size: cover;
    background-position: center;}
.main_title{position: relative;width: 100%;max-width: 1280px;margin: 0 auto;top: 9.5rem;display: block;color: white;font-size: 1.5rem;line-height: 1.2;}
.main_title .m_tit{font-size: 3.25rem;font-weight: 300;padding-bottom: 30px;}
.main_title .m_tit span{display: block;font-weight: 700;}


#main-container{position:relative;height: 100%;width: 100%;max-width: 1280px;margin: 0 auto;transform: translateY(-50%);}
.main-article{position: relative;}
.main_conwrap{display: flex;gap: 1.75rem;position: relative;}

.main-article button.apply-btn, button.search-btn{display: flex;flex-direction: column; width: 100%;border-radius: 20px;color: white;font-size: 1.625rem;cursor: pointer;text-align: left;padding: 36px;}
.main-article button.apply-btn:hover, button.search-btn:hover{box-shadow: rgba(0, 37, 108, 0.2) 0px 3px 8px 3px;transform: translateY(-0.25rem);transition: transform 0.1s ease-in-out;}
.main-article button.apply-btn:not(:hover), button.search-btn:not(:hover){transform: translateY(0);transition: trasform 0.1s ease-in-out;}
.main-article button.apply-btn:hover span, button.search-btn:hover span{text-decoration: underline;}
.main-article button p{font-weight: 600;margin-bottom: 16px;}
.main-article button span{font-weight: 500;display: inline-flex;-webkit-box-align: center;gap: 0.625rem; font-size: 0.875rem;color: #131313;border-radius: 2.25rem;padding: 8px 16px;background-color: white;}
.main-article button span::after{display: inline-block;width: 8px;height: auto;content: "";background: url('../../img/arrow_right.svg') no-repeat center;}
.main-article .apply-btn{background: url(../../img/ico_apply.png) no-repeat 95% 90%;background-color: #002F87;}
.main-article .search-btn{background: url(../../img/ico_search.png) no-repeat 95% 90%;background-color: #188AD6;}

.main-article .main-notice{position: relative;min-width: 35.125rem;height: auto;background-color: #EAF3FA;border-radius: 20px;padding: 36px 32px;}
.main-notice header{display: flex;justify-content: space-between;padding-bottom: 4px;}
.main-notice header h3{color: #131313;font-size: 1.625rem;font-weight: 500;}
.main-notice header button{width: 32px;height: 32px;color: #131313;background-color: white;border-radius: 50%;font-size: 1rem;}
.main-notice header button>img{width: 10px;height: auto;margin: 3px 0 0 3px;}
.main-notice ul li{position: relative;border-bottom: 1px solid #dadada;color: #131313;font-size:1.125rem;color: #131313;padding:12px 0;}
.main-notice ul li:last-child{border-bottom: none;}
.main-notice_link{display: flex;justify-content: space-between;}
.main-notice_link::before{content: '';width: 4px;height: 4px;background-color: #188AD6;border-radius: 50%;position: absolute;top: 50%;}
.main-notice_link:hover p:first-child{color: #188AD6;}
.main-notice ul li p:first-child{margin-left: 16px;}
.main-notice ul li p:last-child {color: #777;font-size: 1rem;}