/*공통css*/
.min-input{width: 220px !important;}

/*임직원정보*/
form .staff-info{margin-top: 45px;}
form .staff-info .tit_info{font-size: 1rem;font-weight: 400;color: #DE001B;}
form .staff-info ul{display: flex;border-top: solid 1px #002f87;border-bottom: solid 1px #dadada;}
form .staff-info ul li{display: flex;align-items: center;flex: 1;}
form .staff-info ul li label{display: inline-block;width: 200px;background-color: #F8F9FC;font-weight: 500;padding-left: 20px;height: 100%;line-height: 72px;}
form .staff-info input{width: 240px;border: solid 1px #dadada;border-radius: 8px;height: 50px;margin: 0 10px 0 20px;padding: 0 16px;
    &:focus{border-color: #989898;}}
form .staff-info input[type="checkbox"] {width: 10px;margin-right: 4px;}

/*방문객정보*/
form .visitor-info{margin-top: 60px;}
form .visitor-info ul{display: flex;border-bottom: solid 1px #ebebeb;}
form .visitor-info ul li{display: flex;align-items: center;flex: 1;}
form .visitor-info ul li label{display: inline-block;width: 200px;background-color: #F8F9FC;font-weight: 500;padding-left: 20px;height: 100%;line-height: 72px;}
form .visitor-info input{width: 376px;border: solid 1px #dadada;border-radius: 8px;height: 50px;margin: 0 10px 0 20px;padding: 0 16px;
    &:focus{border-color: #989898;}}

form .visitor-info .nationality p{
    background-color: transparent;
    width: 56px;
    font-size: 12px;
    margin: 8px 0;}
form .visitor-info input[type="checkbox"]{
    width: 10px;
    margin-right: 4px
}

form .visitor-info input[type="date"]{width: 185px;text-align: center;}
form .visitor-info input[type="date"]::-webkit-calendar-picker-indicator {background-image: url('../../img/ico_calendar.svg');background-size: cover;width: 16px;height: 16px;cursor: pointer;}
form .visitor-info input[type="date"]::-moz-calendar-picker-indicator {background-image: url('../../img/ico_calendar.svg');background-size: cover;width: 16px;height: 16px;cursor: pointer;}
form .visitor-info input[type="time"]{width: 185px;text-align: center;}
form .visitor-info input[type="time"]::-webkit-calendar-picker-indicator {background-image: url('../../img/ico_clock.svg');background-size: cover;width: 16px;height: 16px;cursor: pointer;}
form .visitor-info input[type="time"]::-moz-calendar-picker-indicator {background-image: url('../../img/ico_clock.svg');background-size: cover;width: 16px;height: 16px;cursor: pointer;}

form .visitor-info .selectBox{border: solid 1px #dadada;border-radius: 8px;width: 376px;height: 50px;padding: 0 50px 0 16px;margin: 0 10px 0 20px;background: url(../../img/ico_down.svg) no-repeat 90% center;background-size: 16px auto; text-align:left;
    &:focus{outline: none;}}

form .visitor-info ul.v-info-1{border-top: 1px solid #002f87;}
form .visitor-info ul.v-info-3 label{margin-right: 20px;}
form .visitor-info ul.v-info-3 input{margin: 0 8px 0 0;}
form .visitor-info ul.v-info-3 span{margin-right: 8px;}
form .visitor-info ul.v-info-7{border-bottom: 1px solid #dadada;}
form .visitor-info ul.v-info-7 li label{line-height: 142px;}
form .visitor-info ul.v-info-7 textarea{width: 1018px;height: 120px;resize: none;border: 1px solid #dadada;border-radius: 8px;margin: 12px 10px 12px 20px;padding: 8px 16px;
    &:focus{outline: none;border-color: #989898;}}

/*그룹리스트*/
.visitor_add{display: flex;justify-content: space-between;align-items: center;background-color: #F8F9FC;
    border-radius: 8px;margin-top: 30px;font-weight: 500;padding: 0 45px 0 25px;height: 110px;}
.visitor_add .update-btn{display: inline-flex;gap: 6%;align-items: center;padding: 0 40px;background-color: #188AD6;border-radius: 8px;
    color: white;width: 234px;height: 50px;justify-content: center;font-weight: 500;}
.visitor_add .update-btn::before{content: '';display: inline-block; background: url(../../img/ico_visitoradd.svg) no-repeat center;width: 24px;height: 24px;}

.visit_group_add{display: flex;gap: 3%;align-items: flex-start;background-color: #EAF3FA;border-radius: 8px;margin-top: 40px;padding: 46px 0 46px 25px;}
.visit_group_add .group_tit{font-weight: 500;color: #131313;font-size: 1.25rem;}
.visit_group_add .group_con span{font-weight: 500;color: #188AD6;}
.visit_group_add .group_con .exel_wrap{display: flex;margin-top: 16px;}
.visit_group_add .group_con .download-btn{display: inline-flex;gap: 6%;align-items: center;padding: 0 40px;background-color: white;border-radius: 8px;
   border: solid 1px #dadada; color: #002F87;width: 244px;height: 50px;justify-content: center;font-weight: 500;}
.visit_group_add .group_con .download-btn::before{content: '';display: inline-block; background: url(../../img/ico_exel.svg) no-repeat center;width: 20px;height: 20px;}

.visit_group_add .group_con .exel_wrap li:last-child{margin-left: 20px;border: solid 1px #dadada;background-color: #fff;height: 50px;border-radius: 8px;width: 400px;display: flex;
justify-content: space-between;padding: 0 6px 0 16px;align-items: center;}
.visit_group_add .group_con .exel_wrap .filename_wrap{display: flex;align-items: center;gap: 2%;}
.visit_group_add .group_con .exel_wrap .filename_wrap input{border: 0;width: 220px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.visit_group_add .group_con .exel_wrap .filename_wrap .btn_delete{background: url(../../img/ico_delete02.svg) no-repeat 0 2px;width: 12px;height: 14px;}
.visit_group_add .group_con .exel_wrap .upload-btn{width: 120px;background-color: #eee;font-weight: 500;border-radius: 10px;padding: 6px 0;
}

/*
.layout{
border: 1px solid;
border-right: none;
border-left: none;
}
.visitor-info-group-list{
    display: flex;
    flex-direction: column;
}
.group-list:nth-child(2){
border-right: 1px solid;
}
.group-list:nth-child(1){
    border-bottom: 1px solid;
}
.group-list:nth-child(1) label,
.del-part label{
    border-bottom: 1px solid;
}
.group-list{
    display: flex;
    justify-content: space-between;
}
.group-list:nth-child(1){
    flex-grow: 1;
}
.group-list div{
    width: calc(100%/6);
    border-right: 1px solid;
}
.visitor-info-group div p{
    margin: 0;
    height: 40px;
}
.visitor-info-group label {
    width: 100%;
    height: 40px;
    display: inline-block;
    text-align: center;
    background: #d9d9d9;
    color: #7f7f7f;
    line-height: 40px;
    font-size: 13px;
  }
  form .visitor-info-group .upBtns{
    display: flex;
    justify-content: space-between;
    border: none;
    margin-top: 5px;

  }
form .visitor-info-group .upBtns button{
    width: 100px;
    background: transparent;
    border: 1px solid #afabab;
    border-radius: 5px;
    height: 25px;
    font-size: 13px;
    color: #7f7f7f;
    white-space: nowrap;
}
.visitor-info-group-list .group-list:nth-child(7) div:nth-child(2) {
    width: calc(100% - (100% / 7) * 5); /* 두 번째 행에 있는 일곱 번째 열의 너비 설정 */
/*}
.visitor-info .del-part{
    height: 105px;
}
.visitor-info .del-part p{
height: 90px;
}*/