/*공통css*/
.min-input{width: 220px !important;}
.applyForm section ul{display: flex;}
.applyForm section ul li{display: flex;align-items: center;flex: 1;}
.applyForm section ul li label{display: inline-block;width: 200px;background-color: #F8F9FC;font-weight: 500;padding-left: 20px;height: 100%;line-height: 72px;}
.applyForm section ul li input{width: 240px;border: solid 1px #dadada;border-radius: 8px;height: 50px;margin: 0 10px 0 20px;padding: 0 16px;
    &:focus{border-color: #989898;}}

/*임직원정보*/
.applyForm .staff-info{margin-top: 45px;border:solid 1px #dadada;border-radius: 8px;text-align: center;padding: 50px 0;}
.applyForm .staff-info h5{margin-bottom: 16px;}
.applyForm .staff-info .tit_info{font-size: 1rem;font-weight: 400;color: #0064DE;margin-top: 4px;}
.applyForm .staff-info label{background-color: white;width: auto;padding-left: 0;}
.applyForm .staff-info ul{justify-content: center;}
.applyForm .staff-info ul li{flex: none;}
.applyForm .staff-info ul li:first-child{margin-right: 80px;}
.applyForm .staff-info .center_btn button{margin-top: 25px;}

/*지정접견자정보*/
.applyForm .btn_addstaff{display: flex;justify-content: right;margin-top: 30px;}
.applyForm .btn_addstaff button{width: 150px;height: 36px;color: white;background-color: #002f87;border-radius: 4px;font-size: 15px;font-weight: 500;}
.applyForm .btn_addstaff button:hover{background-color: #0F3E86;}

.applyForm .addstaff-info{margin-bottom: 50px;}
.applyForm .addstaff-info ul{border-top: solid 1px #002f87;border-bottom: solid 1px #dadada;}
.applyForm .addstaff-info span{margin-left: 30px;}

.addstaff_modal .modalcon_wrap{width: 600px;border: 0;}
.addstaff_modal .modal_tit{display: flex;background-color: #00256C;border-top-left-radius: 20px;border-top-right-radius: 20px;padding: 30px;justify-content: space-between;}
.addstaff_modal .modal_tit p{color: white;font-size: 1.5rem;font-weight: 500;}
.addstaff_modal .modal_tit button{filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(298deg) brightness(102%) contrast(101%);}
.addstaff_modal form.modal_con{padding: 50px 0 60px;}
.addstaff_modal form.modal_con h5{margin-bottom: 16px;text-align: center;}
.addstaff_modal form.modal_con .tit_info{font-size: 1rem;font-weight: 400;color: #0064DE;margin-top: 4px;}
.addstaff_modal form.modal_con ul{flex-direction: column;}
.addstaff_modal form.modal_con ul li{justify-content: center;margin: 8px 0;}
.addstaff_modal form.modal_con ul li label{background-color: white;line-height: 0;width: 120px;padding: 0;}

/*방문객정보*/
.applyForm .visitor-info{margin-top: 20px;}
.applyForm .visitor-info ul{border-bottom: solid 1px #ebebeb;}
.applyForm .visitor-info input{width: 376px;}
.applyForm .visitor-info input[type="radio"]{width: 20px;height: 20px; margin: 0px;}

.applyForm .radio_bl{display: flex;align-items: center;}
.applyForm input[type="radio"]{position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);border: 0;}
.applyForm input[type="radio"] + label{display: inline-block;position: relative;width: auto;padding: 0 16px 0 24px;cursor: pointer;background-color: white;font-weight: 400;}
.applyForm input[type="radio"] + label:before{content: '';position: absolute;left: 0;top: 26px;width: 20px;height: 20px;text-align: center;background: url(../../img/ico_radio.svg) no-repeat center;}
.applyForm input[type="radio"]:checked + label:after{content: '';position: absolute;top: 26px;left: 0;width: 20px;height: 20px;background: url(../../img/ico_radio_active.svg) no-repeat center;}


.applyForm .visitor-info input[type="date"]{width: 185px;text-align: center;}
.applyForm .visitor-info input[type="date"]::-webkit-calendar-picker-indicator {background-image: url('../../img/ico_calendar.svg');background-size: cover;width: 16px;height: 16px;cursor: pointer;}
.applyForm .visitor-info input[type="date"]::-moz-calendar-picker-indicator {background-image: url('../../img/ico_calendar.svg');background-size: cover;width: 16px;height: 16px;cursor: pointer;}
.applyForm .visitor-info input[type="time"]{width: 185px;text-align: center;}
.applyForm .visitor-info input[type="time"]::-webkit-calendar-picker-indicator {background-image: url('../../img/ico_clock.svg');background-size: cover;width: 16px;height: 16px;cursor: pointer;}
.applyForm .visitor-info input[type="time"]::-moz-calendar-picker-indicator {background-image: url('../../img/ico_clock.svg');background-size: cover;width: 16px;height: 16px;cursor: pointer;}

.applyForm .visitor-info .selectBox{border: solid 1px #dadada;border-radius: 8px;width: 376px;height: 50px;padding: 0 50px 0 16px;margin: 0 10px 0 20px;background: url(../../img/ico_down.svg) no-repeat 90% center;background-size: 16px auto; text-align:left;
    &:focus{outline: none;}}

.applyForm .visitor-info ul.v-info-1{border-top: 1px solid #002f87;}
.applyForm .visitor-info ul.v-info-3 li>label{/*margin-right: 20px;*/}
.applyForm .visitor-info ul.v-info-3 li>input{margin: 0 8px 0 0;}
.applyForm .visitor-info ul.v-info-3 span{margin-right: -12px;}

.applyForm .visitor-info input[type="checkbox"]{position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);border: 0;}
.applyForm .visitor-info input[type="checkbox"] + label{display: inline-block;position: relative;width: auto;padding-left: 26px;cursor: pointer;background-color: white;font-weight: 400;}
.applyForm .visitor-info input[type="checkbox"] + label:before{content: '';position: absolute;left: 0;top: 26px;width: 20px;height: 20px;text-align: center;background: url(../../img/ico_check.svg) no-repeat center;
border-radius: 4px;border: solid 1px #dadada;}
.applyForm .visitor-info input[type="checkbox"]:checked + label:after{content: '';position: absolute;top: 26px;left: 0;width: 20px;height: 20px;background: url(../../img/ico_check.svg) no-repeat center;
    background-color: #002f87;color: white;border-radius: 4px;}

.applyForm .visitor-info ul.v-info-7{border-bottom: 1px solid #dadada;}
.applyForm .visitor-info ul.v-info-7 li label{line-height: 142px;}
.applyForm .visitor-info ul.v-info-7 textarea{width: 1018px;height: 120px;resize: none;border: 1px solid #dadada;border-radius: 8px;margin: 12px 10px 12px 20px;padding: 8px 16px;
    &:focus{outline: none;border-color: #989898;}}

.applyForm .visitor-info .selectwrap{margin-left: 20px;}
.applyForm .visitor-info .selectwrap .select-box{width: 376px;}
.applyForm .visitor-info .selectwrap .select-options{width: 376px;}

/*방문객 추가*/
.applyForm .visitor_add{display: flex;justify-content: space-between;align-items: center;background-color: #F8F9FC;
    border-radius: 8px;margin-top: 30px;font-weight: 500;padding: 0 25px;height: 110px;}
.applyForm .visitor_add .update-btn{display: inline-flex;gap: 6%;align-items: center;padding: 0 40px;background-color: #188AD6;border-radius: 8px;
    color: white;width: 270px;height: 50px;justify-content: center;font-weight: 500;}
.applyForm .visitor_add .update-btn::before{content: '';display: inline-block; background: url(../../img/ico_visitoradd.svg) no-repeat center;width: 24px;height: 24px;}

.applyForm .addvisitor_form{margin-top: 30px;}
.addvisitor_form>form{display: flex;justify-content: space-between;border-top: solid 0.5px #002F87;}
.addvisitor_form>form:first-child{border-top: solid 1px #002F87;}
.addvisitor_form>form:last-child{border-bottom: solid 1px #dadada;}
.addvisitor_form .form_wrap{flex: auto;}
.addvisitor_form ul{border-bottom: solid 1px #ebebeb;gap: 2.5%;}
.applyForm .addvisitor_form ul li{flex: none;}
.applyForm .addvisitor_form ul li>label{width: 130px;}
.applyForm .addvisitor_form input{width: 300px;}
.applyForm .addvisitor_form input.l_input{width: 500px;}
.applyForm .addvisitor_form input[type="radio"]{width: 20px;height: 20px; margin: 0px;}
.applyForm .addvisitor_form .form_delete{display: flex;align-items: center;padding: 0 30px;background-color: #F8F9FC;border-bottom: solid 1px #ebebeb;}
.applyForm .addvisitor_form .form_delete button{color: #002F87;display: flex;align-items: center;}
.applyForm .addvisitor_form .form_delete button::before{content: '';display: inline-block; background: url(../../img/ico_delete.svg) no-repeat 0 50%;width: 16px;height: 18px;}
.applyForm .addvisitor_form .form_delete button:hover{border-bottom: 1px solid #002F87;}

/*단체방문*/
.applyForm .visit_group_add{display: flex;gap: 3%;align-items: flex-start;background-color: #EAF3FA;border-radius: 8px;margin-top: 40px;padding: 46px 25px;justify-content: space-between;}
.applyForm .visit_group_add .group_tit{font-weight: 500;color: #131313;font-size: 1.25rem;margin-right: 40px;}
.applyForm .visit_group_add .group_con{display: flex;}
.applyForm .visit_group_add .group_con span{font-weight: 500;color: #188AD6;}
.applyForm .visit_group_add .download-btn{display: inline-flex;gap: 3%;align-items: center;padding: 0 40px;background-color: white;border-radius: 8px;
    border: solid 1px #dadada; color: #002F87;width: 270px;height: 50px;justify-content: center;font-weight: 500;}
.applyForm .visit_group_add .download-btn::before{content: '';display: inline-block; background: url(../../img/ico_spreadsheets.svg) no-repeat center;width: 20px;height: 20px;}



/*.applyForm .visit_group_add .group_con .exel_wrap{display: flex;margin-top: 16px;}
.applyForm .visit_group_add .group_con .download-btn{display: inline-flex;gap: 6%;align-items: center;padding: 0 40px;background-color: white;border-radius: 8px;
   border: solid 1px #dadada; color: #002F87;width: 244px;height: 50px;justify-content: center;font-weight: 500;}
.applyForm .visit_group_add .group_con .download-btn::before{content: '';display: inline-block; background: url(../../img/ico_exel.svg) no-repeat center;width: 20px;height: 20px;}
.applyForm .visit_group_add .group_con .exel_wrap li:last-child{margin-left: 20px;border: solid 1px #dadada;background-color: #fff;height: 50px;border-radius: 8px;width: 400px;display: flex;
justify-content: space-between;padding: 0 6px 0 16px;align-items: center;}
.applyForm .visit_group_add .group_con .exel_wrap .filename_wrap{display: flex;align-items: center;gap: 2%;}
.applyForm .visit_group_add .group_con .exel_wrap .filename_wrap input{border: 0;width: 220px;height: 100%;margin: 0;padding: 0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.applyForm .visit_group_add .group_con .exel_wrap .filename_wrap .btn_delete{background: url(../../img/ico_delete02.svg) no-repeat 0 2px;width: 12px;height: 14px;}
.applyForm .visit_group_add .group_con .exel_wrap .upload-btn{width: 120px;background-color: #eee;font-weight: 500;border-radius: 10px;padding: 6px 0;
}
.applyForm .visit_group_add .group_con .exel_wrap li{flex: none;}*/