/*공통css*/
.width100{width: 100%;}
form{overflow: hidden;  }


/*검색창*/
.notice-search-part{display: flex;border: solid 1px #dadada;justify-content: center;padding: 50px 0;border-radius: 8px;gap: 2%;}
.selectBox_wrap{display: flex;gap: 4%;}
.notice-search-part .selectBox .selectBtn{border: solid 1px #dadada;border-radius: 8px;width: 160px;height: 50px;padding: 0 50px 0 16px;
background: url(../../img/ico_down.svg) no-repeat 90% center;background-size: 16px auto; text-align:left;
&:focus{outline: none;}}
.notice-search-part input{width: 680px;display: flex;align-items: center;justify-content: center;border-width: 0px 0px 1px 0px;border-color: #dadada;margin: 0;
    &:focus{border-color: #131313;}}
.notice-search-part button{border-radius: 8px;height: 50px;color: white;background-color: #0B2468;}
.notice-search-part .btn_notice_search{display: inline-flex;gap: 0.5rem;align-items: center;padding: 0 40px;}
.notice-search-part .btn_notice_search::before{content: "";display: inline-block;width: 16px;height: 16px; background: url(../../img/ico_search.svg) no-repeat center;}
.notice-search-part .btn_notice_search:hover{text-decoration: underline;}

/*검색결과 리스트*/
.notice-part{position: relative;width: 100%;margin-top: 50px;}

.table-body:hover .table_tit{text-decoration: underline;}
.table_num{flex: 8%;}
.table_tit{flex: 62%;text-align: left;color: #131313;margin: 0 20px;}
.table_date{flex: 15%;}
.table_name{flex: 15%;}

.notice_important .table_tit{font-weight: 500;}
.notice_tag{padding: 6px 18px; -ms-border-radius: 54px;-o-border-radius: 54px;-moz-border-radius: 54px;-webkit-border-radius: 54px;border-radius: 54px;border: 1px solid #0064de;color: #0064de;
}
