form h5{font-weight: 500;font-size: 1.375rem;color: #131313;margin-bottom: 12px;}

/*신청자 정보*/
form .apply-info ul{border-top: solid 1px #002f87;border-bottom: solid 1px #dadada;}
form .apply-info ul li{display: flex;align-items: center;height: 72px;}
form .apply-info ul li:first-child{border-bottom: solid 1px #ebebeb;}
form .apply-info ul li label{width: 200px;background-color: #F8F9FC;font-weight: 500;padding-left: 20px;height: 70px;line-height: 70px;}
form .apply-info input.input_basic{width: 312px;border: solid 1px #dadada;border-radius: 8px;height: 50px;margin: 0 10px 0 20px;padding: 0 16px;
    &:focus{border-color: #989898;}}

.apply-info .radio_bl{display: flex;align-items: center;}
.apply-info input[type="radio"]{position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);border: 0;}
.apply-info input[type="radio"] + label{display: inline-block;position: relative;width: auto;padding: 0 16px 0 24px;cursor: pointer;background-color: white;font-weight: 400;}
.apply-info input[type="radio"] + label:before{content: '';position: absolute;left: 0;top: 26px;width: 20px;height: 20px;text-align: center;background: url(../../img/ico_radio.svg) no-repeat center;}
.apply-info input[type="radio"]:checked + label:after{content: '';position: absolute;top: 26px;left: 0;width: 20px;height: 20px;background: url(../../img/ico_radio_active.svg) no-repeat center;}

/*조회 결과*/
.search-info{margin-top: 60px;}
.search-part{position: relative;width: 100%;}
.table-body:hover{background-color: #F8F9FC;}

.search-part .basic_table .table-row{width: 1280px;padding: 0 20px;}
.search-part .basic_table .table-row div{padding: 20px 0;text-align: left;width: 10%;margin: 0 10px;}
.search-part .basic_table .table-row .tb_num{width: 3%;text-align: center;}
.search-part .basic_table .table-row .tb_company{width: 15%;}
.search-part .basic_table .table-row .tb_escort{width: 15%;}
.search-part .basic_table .table-row .tb_partner{width: 15%;}
.search-part .basic_table .table-row .tb_status{width: 11%;text-align: center;}
.search-part .basic_table .table-row .tb_parking{width: 11%;text-align: center;}

.table-body .tb_status{border-radius: 3rem;height: 30px;line-height: 0;}
.table-body .tb_parking{border-radius: 3rem;height: 30px;line-height: 0;}

/*승인 태그값*/
.tag_done{background-color: #118FE4;color: white;}
.tag_first{background-color: #E1F2FE;color: #118FE4;}
.tag_second{background-color: #C8E9FF;color: #0063A5;}
.tag_reject{background-color: #FFEDEE;color: #DE001B;}
.tag_wait{background-color: #EBEBEB;color: #555;}
.tag_parkingnum{border: solid 1px #C9C9C9;color: #777;}
.tag_parkingnum._done{border-color: #118FE4;}
.tag_parkingnum span{font-weight: 500;color: #118FE4;}
