form h5{font-weight: 500;font-size: 1.375rem;color: #131313;margin-bottom: 12px;}

/*신청자 정보*/
form .apply-info ul{border-top: solid 1px #002f87;border-bottom: solid 1px #dadada;}
form .apply-info ul li{display: flex;align-items: center;height: 72px;}
form .apply-info ul li:first-child{border-bottom: solid 1px #ebebeb;}
form .apply-info ul li label{width: 200px;background-color: #F8F9FC;font-weight: 500;padding-left: 20px;height: 70px;line-height: 70px;}
form .apply-info ul li span {}
form .apply-info input.input_basic{width: 312px;border: solid 1px #dadada;border-radius: 8px;height: 50px;margin: 0 10px 0 20px;padding: 0 16px;
    &:focus{border-color: #989898;}}
form .apply-info input[type="checkbox"] {width: 10px;margin-right: 4px;}

/*조회 결과*/
.search-info{margin-top: 60px;}
.search-part{position: relative;width: 100%;}
.table-body:hover{background-color: #F8F9FC;}

.search-info .tb_num{}
.search-info .tb_date{}
.search-info .tb_team{}
.search-info .tb_name{}
.search-info .tb_escort{}
.search-info .tb_status{}
.search-info .tb_parking{}