#footer{position: relative;/*전체페이지 코딩완료후 relative 바꿀 예정-유화주*/bottom:0;width:100%;height: 100px;background-color: #0D1D2C;color: #dadada;
    line-height: 100px;margin-top: auto;}

#footer .ft_wrap{position: relative;margin: 0 auto;width: 100%;max-width: 1280px;display: flex;justify-content: space-between;}

.ft_wrap .footer-ul{display: flex;align-items: center;}
.ft_wrap .footer-ul li{cursor: pointer;line-height: 1;margin-right: 28px;}
.ft_wrap .footer-ul li:first-child::before{content: '';margin-right:0px;}
.ft_wrap .footer-ul li::before{content: '|';margin-right: 28px;color: #777;}
.ft_wrap .footer-ul li.ft_privacy{font-weight: 500;color: #fff;}

.ft_wrap > p{display: flex;font-size: 0.875 rem;color: #777;text-align: right;}