#header{position:relative;left: 0;top: 0;width: 100%;height: 80px;line-height: 80px;background-color: white;border-bottom: solid 1px #dadada;}

#header section{position: relative;width: 100%;max-width: 1280px;height: 80px;margin: 0 auto;display: flex;-webkit-box-align:center;align-items: center;
-webkit-box-pack: justify;justify-content: space-between;}
#header h1{display: flex;justify-content: normal;}
#header h1 button{width:352px;height:auto;background:url(../../../img/logo.png) no-repeat 0;color: transparent;white-space: no-wrap;background-size: contain;}

#header .gnb{width: 66%;height: 100%;margin: 0;display: flex;justify-content: normal;gap: 10%;}
#header .gnb li{font-size: 1.25rem;font-weight: 500;cursor: pointer;color: #131313;}
#header .gnb li:hover{color:#002F87;font-weight: 600;}